{% for service_name, cfg in services.iteritems() %}
  upstream {{ service_name }} {

    {% for consul_name in cfg.service_consul_names %}
      {{ '{{' }} range service "{{ consul_name }}" {{ '}}' }}
      {{ '{{' }}  if .Tags | contains "active" {{ '}}' }}
        server {{ '{{' }} .Address {{ '}}' }}:{{ '{{' }} .Port {{ '}}' }};
      {{ '{{' }} end {{ '}}' }}
      {{ '{{' }} end {{ '}}' }}
    {% endfor %}

  }
{% endfor %}

server {
  server_name {{ server_name | default(inventory_hostname) }};

  listen *:{{ server_port | default(8000) }};
  include rules/gzip.conf;

  {% for service_name, cfg in services.iteritems() %}
    location {{ cfg.service_endpoint }}/ {
      proxy_pass http://{{ service_name }}/;
      proxy_set_header Host $host;
    }
  {% endfor %}

  error_log /var/log/nginx/error.log;
  access_log /var/log/nginx/access.log;
}
